DomainName.cs is Escaping Whitespace characters in Domain Names

I came across this whilst experimenting with net-mdns, accessing a device on my network that has a service instance with whitespace in its name.
I am new to mdns, but understand from the docs that service instance names should be friendly and whitespace is permitted.
An mDNS service instance name is stored in a DomainName object, which is part of net-dns. When printed to the console, whitespace characters are each replaced with \032. So my service instance displays as `Wahoo\032KICKR\0325C62._wahoo-fitness-tnp._tcp.local` rather than `Wahoo KICKR 5C62._wahoo-fitness-tnp._tcp.local`
Examining DomainName.cs reveals that the EscapeLabel method is doing this.

```
        /// <summary>
        ///   Returns the textual representation.
        /// </summary>
        /// <returns>
        ///   The concatenation of the <see cref="Labels"/> separated by a dot.
        /// </returns>
        /// <remarks>
        ///   If a label contains a dot or backslash, then it is escaped with a backslash.
        /// </remarks>
```

The comment for ToString and EscapeLabel says that it escapes dots and backslashes. Although not mentioned in the comments, it also (sensibly) escapes non-printable characters, but it also escapes whitespace characters.
I am not sure if the comment needs updating or the code needs correcting.

```
else if (c <= 32 || c > 0x7E)
{
   sb.Append(backslashChar);
   sb.Append(((int)c).ToString("000", CultureInfo.InvariantCulture));
}
```

I think that `c <= 32` may be meant to catch non-printable ascii characters, but also catches whitespace. Maybe it is meant to read `c < 32`, as 32 is whitespace.

I do have a workaround, which is to read the separate labels that constitute the domain name object, but thought I would raise the issue, in case you think it needs to be fixed.

Good catch.  It does indeed look like an inclusive vs exclusive range issue.  I'll double check a few of the rfcs to make sure there was no reason for this and then push a fix

Thanks for your fast reply. And thank you for maintaining these excellent libraries.

Upon further investigation this is actually working as designed.  See [RFC 4343 Section 2.1](https://datatracker.ietf.org/doc/html/rfc4343#section-2.1):

> In Master Files [[STD13](https://datatracker.ietf.org/doc/html/rfc4343#ref-STD13)] and other human-readable and -writable ASCII contexts, an escape is needed for the byte value for period (0x2E, ".") and all octet values outside of the inclusive range from 0x21 ("!") to 0x7E ("~").  That is to say, 0x2E and all octet values in the two inclusive ranges from 0x00 to 0x20 and from 0x7F to 0xFF.

Unescaped whitespace would break DNS master files which use whitespace as a delimiter.  If you want to print labels without escaping it's as simple as:
`string.Join('.', Labels);`

Ok, fair enough. I guess this code then assumes that the output of the ToString() function is going to be used to write out lines in a DNS zone file. I will continue to use my workaround - same as you have highlighted.
Thanks for looking into it.
